<h2>
  Meetings
</h2>

<div class="accordion" id="accordion">
  <div class="card">
    <div class="card-header" id="headingMap">
      <h3 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMap" aria-expanded="false" aria-controls="collapseMap">
          Area 74 Map
        </button>
      </h3>
    </div>

    <div id="collapseMap" class="collapse" aria-labelledby="headingMap" data-parent="#accordion">
      <div class="card-body text-center">
        <img src="assets/map.jpg" class="img-fluid" alt="Area 74 Map">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingLists">
      <h3 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseLists" aria-expanded="false" aria-controls="collapseLists">
          Meeting Lists
        </button>
      </h3>
    </div>
    <div id="collapseLists" class="collapse" aria-labelledby="headingLists" data-parent="#accordion">
      <div class="card-body">
        <p>
          We have provided these links to facilitate information about local A.A. meetings.
          Our links do not constitute or indicate review, endorsement, or approval.
        </p>
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <tbody>
              <tr *ngFor="let groups of districts">
                <td *ngFor="let district of groups">
                  <a href="{{district?.meetings}}">District {{district.district}}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card border-warning mb-3">
          <div class="card-body">
            <h4 class="card-title">Keep Your Meeting Information Updated!</h4>
            <ul>
              <li><p>Submit your meeting list updates to <a href="mailto:webmaster@area74.org">webmaster@area74.org</a></p></li>
              <li><p>If your group information has changed, please fill out a <a href="https://www.aa.org/assets/en_US/e_infchan.pdf" target="_blank">group information change form</a></p></li>
              <li><p>If you are a new group, please fill out a <a href="https://www.aa.org/assets/en_US/e_group.pdf" target="_blank">new group form</a></p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingCities">
      <h3 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCities" aria-expanded="false" aria-controls="collapseCities">
          Area 74 Cities
        </button>
      </h3>
    </div>
    <div id="collapseCities" class="collapse" aria-labelledby="headingCities" data-parent="#accordion">
      <div class="card-body">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">City</th>
              <th scope="col">State</th>
              <th scope="col">District</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let city of cities">
              <td>
                {{city.city}}
              </td>
              <td>
                {{city.state}}
              </td>
              <td>
                {{city.district}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
