<h2>
  Literature and Videos
</h2>
<div class="container text-center">
  <div class="row">
    <div class="col-sm">
      <a href="https://www.aa.org/assets/en_US/p-42_abriefguidetoaa.pdf" target="_blank"><img src="assets/information/images/abriefguide.jpg"></a>
    </div>
    <div class="col-sm">
      <a href="https://www.aa.org/assets/en_US/f-1_AAataGlance.pdf" target="_blank"><img src="assets/information/images/ataglance.gif"></a>
    </div>
    <div class="col-sm">
        <a href="https://www.aa.org/assets/en_US/f-2_InfoonAA.pdf" target="_blank"><img src="assets/information/images/info.gif"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <a href="https://www.aa.org/assets/en_US/P-35_ProOtherThanAlcohol.pdf" target="_blank"><img src="assets/information/images/problems.jpg"></a>
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <a href="https://www.aa.org/assets/en_US/p-1_thisisaa1.pdf" target="_blank"><img src="assets/information/images/thisisaa.jpg"></a>
    </div>
  </div>
</div>
