# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
node/
tmp/
out-tsc/

# dependencies
node_modules/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# IDEs and editors
.apt_generated
.project
.classpath
.factorypath
.c9/
*.launch
.settings/
*.sublime-workspace
target/
.springBeans
.sts4-cache

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
