<h2>
  Professionals
</h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>
        A.A.'s history shows that cooperation with a wide range of professionals who often encounter
        suffering alcoholics in the course of their work has been an integral part of the Fellowship
        since its beginnings. In fact, A.A. might never have gotten off the ground without the help
        of a myriad of caring professionals who came to recognize early on the effectiveness that
        A.A. was demonstrating in helping alcoholics to recover.
      </p>
      <p>
        Representatives of Alcoholics Anonymous within Area 74 (Northern Wisconsin and Michigan's
        Upper Peninsula) work with professionals from religious, law enforcement, medicine,
        education, human resources/employee assistance, mental and public health, social service and
        other disciplines. For more information, or to find out how AA may be helpful to you,
        professionals may contact us by emailing cpc@area74..org and an A.A. representative will
        reply to your inquiry.
      </p>
      <p>
        For more information regarding Alcoholics Anonymous please visit
        <a href="https://www.aagrapevine.org/" target="_blank">aagrapevine.org</a>
        and/or
        <a href="https://www.aa.org/" target="_blank">aa.org</a>
      </p>
      <p>
        <a href="assets/professionals/aodac.pdf" target="_blank"
          >Alcoholics Anonymous as a Resource For Drug & Alcohol Court Professionals</a
        >
      </p>
    </div>
    <div class="col-sm">
      <div class="row no-gutters">
        <div class="col-sm">
          <a href="assets/professionals/pamphlets/p-6_threetalkstomed.pdf" target="_blank"><img
              src="assets/professionals/images/medicalsocieties.jpg" /></a>
        </div>
        <div class="col-sm">
          <a href="https://www.aa.org/assets/en_US/p-23_aaasaresourceforhcp1.pdf" target="_blank"><img
              src="assets/professionals/images/healthcarep.jpg" /></a>
        </div>
        <div class="col-sm">
          <a href="https://www.aa.org/assets/en_US/P-25_membersoftheclergyaskaboutaa.pdf" target="_blank"><img
              src="assets/professionals/images/clergy.jpg" /></a>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-sm">
          <a href="https://www.aa.org/assets/en_US/p-20_AMessagetoCorrProf.pdf" target="_blank"><img
              src="assets/professionals/images/correctionsprofessionals.jpg" /></a>
        </div>
        <div class="col-sm">
          <a href="https://www.aa.org/assets/en_US/p-26_AAinCF.pdf" target="_blank"><img
              src="assets/professionals/images/correctionf.jpg" /></a>
        </div>
        <div class="col-sm">
          <a href="https://www.aa.org/assets/en_US/p-27_AAinTF.pdf" target="_blank"><img
              src="assets/professionals/images/treatmentf.jpg" /></a>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-sm">
          <a href="https://www.aa.org/assets/en_US/p-29_howAAmemCoopProf.pdf" target="_blank"><img
              src="assets/professionals/images/cpc.jpg" /></a>
        </div>
        <div class="col-sm">
          <a href="https://www.aa.org/assets/en_US/p-41_amemberseyeviewofaa.pdf" target="_blank"><img
              src="assets/professionals/images/eyeaa.jpg" /></a>
        </div>
        <div class="col-sm">
          <a href="https://www.aa.org/assets/en_US/p-46_ifyouareaprofessional.pdf" target="_blank"><img
              src="assets/professionals/images/urp.jpg" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
