<h2>
  Meetings
</h2>
<p>
  We have provided these links to facilitate information about local A.A. meetings.
  Our links do not constitute or indicate review, endorsement, or approval.
</p>
<table class="table table-hover table-striped">
  <tbody>
    <tr *ngFor="let groups of districts">
      <td *ngFor="let district of groups">
        <a href="{{district?.meetings}}">District {{district.district}}</a>
      </td>
    </tr>
  </tbody>
</table>
<div class="card border-warning mb-3">
  <div class="card-body">
    <h4 class="card-title">Keep Your Meeting Lists Updated!</h4>
    <p class="card-text">Submit your meeting list updates to <a href="mailto:webmaster@area74.org">webmaster@area74.org</a></p>
  </div>
</div>
<h3>Area 74 Cities</h3>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">District</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let city of cities">
      <td>
        {{city.city}}
      </td>
      <td>
        {{city.state}}
      </td>
      <td>
        {{city.district}}
      </td>
    </tr>
  </tbody>
</table>
