<h2 class="text-center">
  Service
</h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card border-light mb-3" style="max-width: 20rem;">
        <h4 class="card-header">Presentations</h4>
        <div class="card-body">
          <ul class="card-text">
            <li *ngFor="let presentation of presentations"><a href="{{presentation.asset}}" target="_blank">{{presentation.name}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-light mb-3" style="max-width: 20rem;">
        <h4 class="card-header">Area Committee</h4>
        <div class="card-body">
          <h5 class="card-title">Minutes</h5>
          <ul class="card-text">
            <li *ngFor="let minutes of areaCommitteeMinutes"><a href="{{minutes.asset}}" target="_blank">{{minutes.name}}</a></li>
          </ul>
          <h5 class="card-title">Reports</h5>
          <ul class="card-text">
            <li *ngFor="let report of areaCommitteeReports"><a href="{{report.asset}}" target="_blank">{{report.name}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-light mb-3" style="max-width: 20rem;">
        <h4 class="card-header">Area Assembly</h4>
        <div class="card-body">
          <h5 class="card-title">Minutes</h5>
          <ul class="card-text">
            <li *ngFor="let minutes of areaAssemblyMinutes"><a href="{{minutes.asset}}" target="_blank">{{minutes.name}}</a></li>
          </ul>
          <h5 class="card-title">Reports</h5>
          <ul class="card-text">
            <li *ngFor="let report of areaAssemblyReports"><a href="{{report.asset}}" target="_blank">{{report.name}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<h3 class="text-center">
  Archives
</h3>
<div class="card mx-auto border-dark mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <ul class="card-text">
      <li *ngFor="let archive of archives"><a href="{{archive.asset}}" target="_blank">{{archive.name}}</a></li>
    </ul>
  </div>
</div>
<p class="mb-5">
  This information has been collected by the archives committee. They have spent
  many hours collecting this information. Although they have spent a lot of time
  on this project we still need your help. Over the year minutes have gone missing.
  Please send any minutes that are missing to the Archivist (archivist@area74.org).
</p>
