<h2 class="text-center">
  Service
</h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card border-light mb-3" style="max-width: 20rem;">
        <h4 class="card-header">Presentations</h4>
        <div class="card-body">
          <ul class="card-text">
            <li><a href="assets/service/presentations/GSR Workshop.ppt" target="_blank">GSR Workshop Powerpoint</a></li>
            <li><a href="assets/service/presentations/GSR Presentation.ppt" target="_blank">GSR Presentation Powerpoint</a></li>
            <li><a href="assets/service/presentations/GSR Presentation.pdf" target="_blank">GSR Presentation PDF</a></li>
            <li><a href="assets/service/presentations/GSR Workshop.pdf" target="_blank">GSR Workshop PDF</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-light mb-3" style="max-width: 20rem;">
        <h4 class="card-header">Area Committee</h4>
        <div class="card-body">
          <h5 class="card-title">Minutes</h5>
          <ul class="card-text">
            <li><a href="assets/service/area-committee/minutes/2014-05-18.pdf" target="_blank">2014-05-18</a></li>
            <li><a href="assets/service/area-committee/minutes/2014-08-09.pdf" target="_blank">2014-08-09</a></li>
            <li><a href="assets/service/area-committee/minutes/2014-09-28.pdf" target="_blank">2014-09-28</a></li>
            <li><a href="assets/service/area-committee/minutes/2014-12-13.pdf" target="_blank">2014-12-13</a></li>
            <li><a href="assets/service/area-committee/minutes/2015-03-28.pdf" target="_blank">2015-03-28</a></li>
            <li><a href="assets/service/area-committee/minutes/2015-05-17.pdf" target="_blank">2015-05-17</a></li>
          </ul>
          <h5 class="card-title">Reports</h5>
          <ul class="card-text">
            <li></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-light mb-3" style="max-width: 20rem;">
        <h4 class="card-header">Area Assembly</h4>
        <div class="card-body">
          <h5 class="card-title">Minutes</h5>
          <ul class="card-text">
            <li></li>
          </ul>
          <h5 class="card-title">Reports</h5>
          <ul class="card-text">
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<h3 class="text-center">
  Archives
</h3>
<div class="card mx-auto text-white bg-dark mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <ul class="card-text">
      <li></li>
    </ul>
  </div>
</div>
<p class="mb-5">
  This information has been collected by the archives committee. They have spent
  many hours collecting this information. Although they have spent a lot of time
  on this project we still need your help. Over the year minutes have gone missing.
  Please send any minutes that are missing to the Archivist (archivist@area74.org).
</p>
