<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto" data-toggle="collapse" data-target=".navbar-collapse.show">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/meetings" routerLinkActive="active">Meetings</a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/calendar" routerLinkActive="active">Calendar</a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/district" routerLinkActive="active">District Websites</a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/professionals" routerLinkActive="active" >For Professionals</a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/conference" routerLinkActive="active">Area 74 Conferences</a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bridging-the-gap" routerLinkActive="active">Bridging The Gap</a>
      </li>
    </ul>
    <ul class="navbar-nav mx-auto" data-toggle="collapse" data-target=".navbar-collapse.show">
      <li class="nav-item">
        <a class="nav-link" routerLink="/steps" routerLinkActive="active">12 Steps</a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/traditions" routerLinkActive="active">12 Traditions</a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/concepts" routerLinkActive="active">12 Concepts</a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/information" routerLinkActive="active">More Information</a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/links" routerLinkActive="active">Links</a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/guidelines" routerLinkActive="active">Guidelines</a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/directory" routerLinkActive="active">Area 74 Directory</a>
      </li>
    </ul>
  </div>
</nav>
