/* You can add global styles to this file, and also import other style files */
.paper-handwriting {
  font-family: 'Merienda One', cursive;
  font-size: 1.25rem;
  background-color: #E0D3AF !important;
}
