/* You can add global styles to this file, and also import other style files */
.paper-handwriting {
  font-family: 'Merienda One', cursive;
  font-size: 1.25rem;
  background-color: #e0d3af !important;
}

.white-background {
  background-color: #ffffff !important;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}
