@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.paper-handwriting {
  font-family: 'Merienda One', cursive;
  font-size: 1.25rem;
  background-color: #e0d3af !important;
}

.blue-link {
  color: #007bff;
}

.blue-link:hover {
  color: #0056b3;
}

.white-background {
  background-color: #ffffff !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
