$base-theme: Default;
$skin-name: custom;
$swatch-name: Silver;
$border-radius: 2px;
$accent: #1984c8;
$info: #2498bc;
$success: #3ea44e;
$warning: #ff9800;
$error: #d92800;
$text-color: #515967;
$bg-color: #ffffff;
$base-text: #515967;
$base-bg: #f3f3f4;
$hovered-text: #263248;
$hovered-bg: #b6bdca;
$selected-text: #ffffff;
$selected-bg: #1984c8;
$series-a: #007bc3;
$series-b: #76b800;
$series-c: #ffae00;
$series-d: #ef4c00;
$series-e: #a419b7;
$series-f: #430b62;
