<h2 class="mb-4">
  Northern Wisconsin and Upper Peninsula of Michigan
</h2>
<div class="card text-white bg-danger mb-3">
  <div class="card-body text-center">
    <h4 class="card-title">IMPORTANT CHANGES TO AREA 74 NOW & THEN NEWSLETTER DISTRIBUTION</h4>
    <a href="assets/newsletter/important_changes_to_now_and_then.pdf" class="btn btn-secondary" role ="button">Click here for details</a>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <h4 class="card-title">The Alcoholics Anonymous Preamble</h4>
    <p class="card-text">
      <em>Copyright &copy; The A.A. Grapevine, Inc.</em>
    </p>
    <p class="card-text">
      Alcoholics Anonymous is a fellowship of men and women who share their experience, strength and
      hope with each other that they may solve their common problem and help others to recover from
      alcoholism. The only requirement for membership is a desire to stop drinking. There are no dues
      or fees for AA membership; we are self-supporting through our own contributions. AA is not allied
      with any sect, denomination, politics, organization, or institution; does not wish to engage in
      any controversy, neither endorses nor opposes any causes. Our primary purpose is to stay sober and
      help other alcoholics to achieve sobriety.
    </p>
  </div>
</div>
<div class="card text-white bg-info mb-3">
  <div class="card-body">
    <h4 class="card-title">A Message From Your Webmaster</h4>
    <p class="card-text">
      Hi my name is Lucas. I am an Alcoholic. Serving Area 74 as your Webmaster. I want to make
      sure everyone understands that this is your website. Keeping the information current, correct
      and up to date is vital. Please submit any suggestions, corrections, updates, questions, comments
      and/or concerns to <a href="mailto:webmaster@area74.org">webmaster@area74.org</a>. Thanks for
      letting me be of service. Lucas M.
    </p>
  </div>
</div>
