<h2>
  Bridging the Gap
</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <p>
        Bridging the Gap is program that can be used by new and old members. This program can
        connect AA members together who or traveling or relocating across the state, country or
        world. Bridging the Gap is also widely utilized by people when they are released from jail,
        prisons and treatment centers. Past experience has shown that attending an A.A. meeting on
        the day of release from treatment, prison or jail is one of the most effective tools for
        newly sober people to make a sober transition and maintain continued sobriety in the real
        world. It is strongly recommended that a newly released individuals have an A.A. contact on
        the outside who will meet him or her on the day of release to help in “Bridging the Gap”
        between the institution and A.A. on the outside. In a nut shell Bridging the Gap connects
        one alcoholic with another. Please read the forms in it's entirety for more information.
      </p>
      <p>
        <a
          class="blue-link"
          href="assets/bridging-the-gap/temporary-contact-form.pdf"
          target="_blank"
          >Here is the corrections form</a
        >, one side of the form is for AA's who are incarcerated. The other side is for AA who are
        not incarcerated who are looking for 12 step work.
      </p>
      <p>
        See the <a class="blue-link" routerLink="/directory">Area 74 Directory</a> to find an email
        address for each district. For your convenience, below is a list of cities and their
        corresponding districts.
      </p>
    </div>
    <div class="col-sm-2">
      <a href="https://www.aa.org/assets/en_US/p-49_BridgingTheGap.pdf" target="_blank"
        ><img src="assets/bridging-the-gap/p-49_BridgingTheGap.jpg"
      /></a>
    </div>
  </div>
</div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">District</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let city of cities">
      <td>
        {{ city.city }}
      </td>
      <td>
        {{ city.state }}
      </td>
      <td>
        {{ city.district }}
      </td>
    </tr>
  </tbody>
</table>
