<h2>
  District Websites
</h2>
<table class="table table-hover table-striped">
  <tbody>
      <tr *ngFor="let groups of districts">
        <td *ngFor="let district of groups">
          <p *ngIf="district.website !== ''"><a href="{{district.website}}" target="_blank">District {{district.district}}</a></p>
          <p *ngIf="district.website == ''">District {{district.district}}</p>
        </td>
      </tr>
  </tbody>
</table>
<div class="card border-warning mb-3">
  <div class="card-body">
    <p class="card-text">
      We have provided this link to facilitate information about
      local A.A. activities. Our links do not constitute or indicate
      review, endorsement, or approval.
    </p>
  </div>
</div>
